doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    #calc_wrapper
      #readout
        input#readoutVal(type="text", name="readoutVal", value="#{digits}", readonly)
      #buttons_wrapper
        .row
          a(href="#")
            .buttonx(id="clear")
              p Clear
        .row
          a(href="#")
            .button
              p 7
          a(href="#")
            .button
              p 8
          a(href="#")
            .button
              p 9
          a(href="#")
            .buttonx
              p % 
        .row
          a(href="#")
            .button
              p 4
          a(href="#")
            .button
              p 5
          a(href="#")
            .button
              p 6
          a(href="#")
            .buttonx
              p x
        .row
          a(href="num?operation=0&&digit=1&&readoutVal=#{digits}")
            .button
              p 1
          a(href="num?operation=0&&digit=2&&readoutVal=#{digits}")
            .button
              p 2
          a(href="show3")
            .button
              p 3
          a(href="#")
            .buttonx
              p -
        .row
          a(href="#")
            .button
              p 0
          a(href="#")
            .button
              p .
          a(href="num?operation=equals&&readoutVal=#{digits}")
            .button
              p =
          a(href="num?operation=plus&&readoutVal=#{digits}")
            .buttonx
              p +
